<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Master Title</title>
    <H1>Yup</H1>
</head>
<body>
    <h1>Test</h1>
</body>
</html>
